site_name: Hishel
repo_url: https://github.com/karpetrosyan/hishel

theme:
  name: material
  custom_dir: overrides
  features:
    - content.code.copy
    - toc.integrate
    - toc.follow
    - navigation.expand

  palette:
    - scheme: default
      primary: "amber"
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
    - scheme: slate
      primary: "amber"
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - attr_list
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - tables

nav:
  - Introduction: index.md
  - User Guide: userguide.md
  - Advanced Usage:
      - "Storages": advanced/storages.md
      - Serializers: advanced/serializers.md
      - Controllers: advanced/controllers.md
      - Specification (Beta): advanced/specification.md
      - New Storages (Beta): advanced/new_storages.md
      - HTTP Headers: advanced/http_headers.md
      - Extensions: advanced/extensions.md
      - Logging: advanced/logging.md
  - Examples:
      - GitHub: examples/github.md
      - FastAPI: examples/fastapi.md
      - Flask: examples/flask.md
  - Contributing: contributing.md
