[build-system]
requires = ["hatchling", "hatch-fancy-pypi-readme"]
build-backend = "hatchling.build"

[project]
name = "hishel"
dynamic = ["readme", "version"]
description = "Persistent cache implementation for httpx and httpcore"
license = "BSD-3-Clause"
requires-python = ">=3.8"
authors = [
    { name = "Kar Petrosyan", email = "kar.petrosyanpy@gmail.com" },
]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Web Environment",
    "Framework :: AsyncIO",
    "Framework :: Trio",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: BSD License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Topic :: Internet :: WWW/HTTP",
]
dependencies = [
    "httpx>=0.22.0"
]

[project.optional-dependencies]

yaml = [
    "pyyaml==6.0.1",
]

redis = [
    "redis==5.0.0"
]

sqlite = [
    "anysqlite>=0.0.5"
]

[project.urls]
Homepage = "https://hishel.com"
Source = "https://github.com/karpetrosyan/hishel"

[tool.hatch.version]
path = "hishel/__init__.py"

[tool.hatch.build.targets.sdist]
include = [
    "/hishel",
    "/CHANGELOG.md",
    "/README.md",
]

[tool.hatch.metadata.hooks.fancy-pypi-readme]
content-type = "text/markdown"

[[tool.hatch.metadata.hooks.fancy-pypi-readme.fragments]]
path = "README.md"

[[tool.hatch.metadata.hooks.fancy-pypi-readme.fragments]]
path = "CHANGELOG.md"

[tool.mypy]
strict = true
show_error_codes = true
warn_unused_ignores = false


[[tool.mypy.overrides]]
module = "tests.*"
disallow_untyped_defs = false
check_untyped_defs = true


[tool.pytest.ini_options]
addopts = ["-rxXs", "--strict-config", "--strict-markers"]
filterwarnings = []

[tool.coverage.run]
omit = [
    "venv/*", 
    "hishel/_sync/*"
]
include = ["hishel/*", "tests/*"]

[tool.coverage.report]
exclude_also = [
  '__repr__',
  'raise NotImplementedError()'
]

[tool.ruff]
exclude = [
    "hishel/_sync",
    "hishel/__init__.py",
    "tests/_sync",
]
line-length = 120
select = [
    "E",
    "F",
    "W",
    "I"
]

[tool.ruff.isort]
combine-as-imports = true
