-e .[yaml,redis]

# linting
ruff==0.0.270
mypy==1.5.1
black==23.3.0

# docs
mkdocs==1.5.2
mkdocs-material==9.1.19
mkdocstrings[python]==0.22.0

# tests
pytest==7.4.0
pytest-asyncio==0.21.1
types-redis==4.6.0.4
trio==0.21.0
coverage==7.2.7
types-PyYAML==6.0.12.10
typing_extensions==4.7.1

# build
hatch==1.7.0
