name: publish
on: workflow_dispatch

permissions:
  contents: write

jobs:
  pypi-publish:
    name: upload release to PyPI
    runs-on: ubuntu-latest

    env:
      HISHEL_PYPI: ${{ secrets.HISHEL_PYPI }}

    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v4"
      - name: "Set up Python (use latest version for publishing)"
        uses: "actions/setup-python@v5"
        with:
          python-version: 3.13
      - name: "Setup uv"
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.6.12"
      - name: "Build"
        run: "uv build"
      - name: "Publish docs"
        run: ./scripts/publish-docs
      - name: "Publish"
        run: "./scripts/publish"
